@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo/Arimo.eot");
  src: url("../fonts/Arimo/Arimo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arimo/Arimo.woff") format("woff"),
    url("../fonts/Arimo/Arimo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
